body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(to top, cornflowerblue, midnightblue);
    width: 100%;
    text-align: start;
    position: fixed;
    z-index: 9999;
    
    & * {
        display: inline-block;
    }

    & a {
        text-decoration: none;
        color: white; 
        padding: 16px 20px;
        font-size: 18px;
    }

    & a:hover {
        color: white;
        background-color: rgba(0, 89, 255, 0.503);
    }

    & a:last-child {
        background-color: white;
        color: blue;
        border: 2px solid darkblue;
        padding: 6px 20px;
        margin-left: 1017px;
        border-radius: 6px;
    }

    & a:last-child:hover {
        background-color: blue;
        color: white;
    }
}

main {
    background-color: white;

    & #introducao {
        width: 80%;
        margin: auto;
        padding: 120px 0 60px 0;
    }

    & section p {
        font-size: larger;
    }

    & #cursos h1 {
        position: absolute;
        width: 92.2%;
        left: 7%;
        transform: translate(-46px, -260%);
        background: radial-gradient(white, cornflowerblue);
        padding: 7px 0;
        text-align: center;
        color: blue;
        border-radius: 20px;
    }

    & #cursos {
        background-color: midnightblue;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 0; 
        padding: 115px 0 60px 0;
        width: 100%;
    }

    & #cursos div {
        padding: 70px 40px;
        background-color: cornflowerblue;
        width: 60%;
        margin: auto;
        border-radius: 10px;  
        box-shadow: 0 0 10px rgba(0, 72, 255, 0.422); 
        color: white;     
    }
    
    & #cursos img {
        width: 100%;
        border-radius: 7px;
    }

    & #cursos div h2, #cursos div p {
        position: relative;
        top: 60px;
        text-align: center;
    }  

    & #cursos h2 {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 7px 0;
    }
    
    & #depoimentos h1 {
        position: absolute;
        width: 92%;
        left: 5%;
        transform: translate(-46px, -260%);
        background-color: blue;
        padding: 7px 0;
        text-align: center;
        color: white;
        border-radius: 20px;
    }

    & #depoimentos a {
        position: absolute;
        background-color: white;
        padding: 1px 12px;
        text-align: center;
        font-size: xx-large;
        color: blue;
        border: 2px solid blue;
        border-radius: 4px;
        left: 1390px;
        transform: translate(0, -213%);
        cursor: pointer;
        text-decoration: none;
    }

    & #depoimentos a:hover {
        background-color: blue;
        color: white;
    }

    & #depoimentos {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; 
        margin: auto;
        padding: 115px 0 60px 0;
    }

    & #depoimentos div {
        border-radius: 10px;
        padding: 7px 20px;
        width: 80%;
        margin: auto;
        text-align: center;
        box-shadow: 0 0 20px rgba(0, 76, 255, 0.3);
    }

    & #depoimentos div:hover {
        background-color: cornflowerblue;
        color: white;
    }

    & #depoimentos div h2 {
        font-size: 17px;
    }
}
 
#login {
    width: 30%;
    height: 40%;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 0, 20);
    color: aqua;
    text-align: center;

    & #email, #senha {
        width: 90%;
        padding: 9px 0 9px 5px;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        background-color: rgba(0, 0, 75, 0.836);
        border-color: white;
        color: white;
        margin-top: 20px;
    }

    & button {
        margin-top: 40px;
        width: 45%;
        border-radius: 5px;
        font-size: 18px;
        padding: 9px 0;
        cursor: pointer;
    }

    & #btnFechar {
        color: red;
        border-color: red;
    }

    & #btnFechar:hover {
        color: white;
        background-color: red;
        border-color: red;
    }

    & #btnEntrar {
        color: green;
        border-color: green;
    }

    & #btnEntrar:hover {
        color: white;
        border-color: green;
        background-color: green;
    }

    & p.erro {
        padding: 10px;
        background-color: rgb(255, 190, 190);
        color: rgb(86, 2, 2);
        text-align: center;
    }
}

#novo-depoimento {
    width: 30%;
    height: 77%;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 0, 20);
    color: aqua;
    border-color: aqua;
    text-align: center;

    & textarea {
        width: 99%;
        height: 30vh;
        border-radius: 8px;
        resize: none;
        padding: 0 0 0 6px;
        background-color: rgba(0, 0, 75, 0.836);
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        font-size: 18px;
    }

    & #nome-curso {
        width: 100%;
        border-radius: 4px;
        padding: 12px 0 10px 6px;
        border: none;
        margin: 15px 0 20px 0;
        font-size: 20px;
        border-radius: 5px;
        background-color: rgba(0, 0, 75, 0.836);
        color: white;
    }

    & select {
        width: 100%;
        padding: 10px 0 10px 6px;
        font-size: 18px;
        background-color: rgba(0, 0, 75, 0.836);
        color: white;
        border-radius: 4px;
        border: none;
        margin-bottom: 20px;
        margin-top: 6px;
    }

    & #label-textarea, #label-nome-curso, #label-nota {
        position: absolute;
        left: 22px;
    }

    & #ruim {
        position: absolute;
        font-size: 14px;
        transform: translate(0, -10%);
        margin-top: 20px;
        margin-left: 2px;
    }

    & #ok {
        position: absolute;
        font-size: 14px;
        margin-top: 20px;
        margin-left: 9px;
    }

    & #bom {
        position: absolute;
        font-size: 14px;
        margin-left: 5px;
        margin-top: 20px;
    }

    & #btnEnviarDepoimento {
        color: green;
        border: 1px solid green;
        border-radius: 4px;
        cursor: pointer;
        font-size: x-large;
        width: 49%;
        padding: 8px 0;
    }

    & #btnEnviarDepoimento:hover {
        background-color: green;
        color: white;
    }

    & #btnFecharDepoimento {
        color: red;
        border: 1px solid red;
        border-radius: 4px;
        cursor: pointer;
        font-size: x-large;
        width: 49%;
        padding: 8px 0;
    }

    & #btnFecharDepoimento:hover {
        background-color: red;
        color: white;
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

footer {
    width: 95%;
    margin: auto;

    & table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin: 0 0 15px 0;
    }

    & table tr:nth-child(even) {background-color: #eee; }

    & th {
        background-color: #383838;
        color: white;
        border: 1px solid black;
        border-color: white;
        padding: 12px 0;
        font-size: 20px;
    }

    & td {
        border: 1px solid black;
        padding: 12px 0;
        font-size: 20px;
    }
}